<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__grid d-flex">
                <div class="header__top">
                    <a href="#" class="header__logo d-flex">
                        <img src="img/logo.png" class="logo" alt="logo">
                    </a>
                </div>
                <div class="header__center">
                    <h1 class="header__title">Успей приобрести! <p>Путевки <br>от <span class="header__title header__title--red header__title--fz-big">70 000р</span></p></h1>
                </div>
                <div class="header__bottom d-flex">
                    <a href="#" class="btn header__btn">
                        <div class="crab header__crab crab--desctop">
                            <div class="crab__header">
                                <div class="crab__icon crab__sheel"></div>
                            </div>
                            <div class="crab__icon crab__body">
                                <div class="crab__icon crab__hand crab__hand--left"></div>
                                <div class="crab__icon crab__eye crab__eye--left"></div>
                                <div class="crab__icon crab__pupil crab__pupil--left"></div>
                                <div class="crab__icon crab__pupil crab__pupil--right"></div>
                                <div class="crab__icon crab__eye crab__eye--right"></div>
                                <div class="crab__icon crab__hand crab__hand--right"></div>
                            </div>
                            <div class="crab__icon crab__foot crab__foot--left"></div>
                            <div class="crab__icon crab__foot crab__foot--right"></div>
                        </div>
                        <div class="crab header__crab crab--mobile">
                            <img class="crab__image" src="img/crab-image.png" alt="crab" >
                        </div>
                        <span class="btn__text">В лето</span>
                    </a>
                </div>
            </div>
        </div>
        <img class="header__plane" src="img/plane.png" alt="plane">
    </header>
