@import "vars";
@media screen and (max-width: 1430px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .tour {
        &__picture {
            width: 188px;
            height: 188px;
            border-width: 10px;
        }
        &__title {
            margin-top: 5px;
            font-size: 20px;
        }
        &__image {
            width: 123px;
            height: 123px;
            right: -50px;
            bottom: -20px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .header {
        &__title {
            font-size: 46px;
            line-height: 56px;
            margin-top: 20px;
        }
    }
    .tours {
        &:after,
        &:before {
            width: 22%;
        }
        &__grid {
            flex-wrap: wrap;
            position: relative;
            padding: 20px 10px;
            &--bottom {
                top: auto;
            }
        }
        &__title {
            font-size: 42px;
            text-shadow: -5px 5px 2px rgba(#030b16, 0.8);
            letter-spacing: 1px;
            top: -26px;
        }
    }
    .tour {
        margin-bottom: 10px;
        flex: 0 0 45%;
        max-width: 45%;
    }
    .footer {
        margin: 20px 0px 20px;
        &__title {
            font-size: 31px;
            line-height: normal;
        }
    }
}

@media screen and (max-width: 600px) {
    .header__plane {
        display: none;
    }
    .wrapper {
        background-image: url(../img/bg-mobile.jpg);
    }
    .logo {
        width: 120px;
        height: 44px;
    }
    .header {
        &__title {
            font-size: 26px;
            line-height: 36px;
            margin-top: 20px;
            &--red {
                font-size: 40px;
            }
            br {
                display: block;
            }
        }
        &__center {
            margin-bottom: auto;
        }
        &__grid {
            height: auto;
            margin: 0px 0px 20px;
        }
        .btn__text {
            font-size: 21px;
            position: relative;
            top: 3px;
        }
        &__btn {
            width: 180px;
            height: auto;
            margin-top: 40px;
        }
        &__bottom {
            margin-top: 50px;
            width: 290px;
            height: 100px;
        }
    }
    .tour {
        &__title {
            margin-top: 5px;
            font-size: 18px;
        }
        &__date {
            font-size: 18px;
            line-height: 22px;
        }
        &__picture {
            width: 160px;
            height: 160px;
            border-width: 5px;
        }
        &__image {
            width: 65px;
            height: 65px;
            right: -20px;
            bottom: -10px;
        }
    }
    .tours {
        margin-top: 0px;
        &:after,
        &:before {
            width: 17%;
        }
        &__grid {
            position: relative;
            flex-wrap: wrap;
            padding: 0px 10px 0px;
            &--bottom {
                top: auto;
            }
        }
        &__title {
            font-size: 27px;
            top: -16px;
        }
    }
    .footer {
        &__title {
            font-size: 21px;
            line-height: normal;
        }
        &__image {
            width: 70px;
        }
    }
    .crab {
        animation-name: crab-move__mobile;
    }
    .crab {
        top: -80px;
        left: 150px;
        &__icon {
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
        }
        &__sheel {
            background-position: -272px 0px;
            width: 47px;
            height: 54px;
        }
        &__body {
            position: relative;
            top: -16px;
            margin: 0 auto;
            padding: 8px;
            background-position: -272px -167px;
            width: 38px;
            height: 21px;
            z-index: 2;
        }
        &__pupil {
            position: absolute;
            background-position: -313px -69px;
            width: 6px;
            height: 4px;
            &--left {
                left: 7px;
            }
            &--right {
                right: 7px;
            }
        }
        &__eye {
            top: 9px;
            width: 10px;
            height: 9px;
            &--left {
                background-position: 0px -211px;
                left: 8px;
            }
            &--right {
                background-position: -25px -211px;
                right: 8px;
            }
        }
        &__foot {
            top: 37px;
            width: 26px;
            height: 34px;
            z-index: 1;
            &--left {
                background-position: -272px -69px;
                width: 26px;
                height: 34px;
                left: -19px;
                animation: crab-foot-left--mobile 0.3s infinite linear;
            }
            &--right {
                background-position: -272px -118px;
                right: -19px;
                animation: crab-foot-right--mobile 0.3s infinite linear;
            }
        }
        &__hand {
            bottom: -10px;
            width: 26px;
            height: 19px;
            &--left {
                background-position: -207px -80px;
                left: -8px;
            }
            &--right {
                background-position: -139px -131px;
                right: -8px;
                bottom: -12px;
            }
        }
    }
    .header__btn:hover {
        .crab {
            animation-play-state: paused;
            &__foot {
                animation-play-state: inherit;
                &--right {
                    animation: rotit--mobile 1.8s infinite ease-in-out;
                }
            }
            &__hand {
                &--right {
                    animation: crab-hand--mobile 1.5s infinite;
                animation-timing-function: linear;
                animation-direction: alternate;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .tour {
        &__picture {
            width: 120px;
            height: 114px;
        }
        &__title {
            margin-top: 5px;
            font-size: 16px;
        }
        &__date {
            font-size: 16px;
            line-height: 18px;
        }
        &__image {
            width: 65px;
            height: 65px;
            right: -20px;
            bottom: -10px;
        }
    }
}

@keyframes crab-move__mobile {
    from {
        left: 0;
    }
    to {
        left: 60%;
    }
}

@keyframes crab-foot-right--mobile {
    to {
        transform: rotate(0deg) translateY(0px) translateX(0px);
    }
    from {
        transform: rotate(-25deg) translateY(-9px) translateX(0px);
    }
}

@keyframes crab-foot-left--mobile {
    to {
        transform: rotate(25deg) translateY(-9px) translateX(-0px);
    }
    from {
        transform: rotate(0deg) translateY(0px) translateX(-0px);
    }
}

@keyframes crab-hand--mobile {
    to {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(1px) rotate(-13deg);
    }
}

@keyframes rotit--mobile {
    0% {
        transform: translateY(4px) rotate(5deg);
    }
    50% {
        transform: translateY(4px) rotate(5deg);
    }
    57% {
        transform: translateY(-4px) rotate(-15deg);
    }
    58% {
        transform: translateY(4px) rotate(5deg);
    }
    65% {
        transform: translateY(-4px) rotate(-15deg);
    }
    66% {
        transform: translateY(4px) rotate(5deg);
    }
    73% {
        transform: translateY(-4px) rotate(-15deg);
    }
    74% {
        transform: translateY(4px) rotate(5deg);
    }
    100% {
        transform: translateY(4px) rotate(5deg);
    }
}
